{% extends 'base.html' %}

{% block title %}Создание задачи{% endblock %}

{% block content %}
<body class="tasks-page">
    <div class="tasks-container-edited">
        <div class="server-profile-bar">
            <div class="server-info">
                <img src="/static/images/logo-with.png" alt="Server" class="logo">
                <span class="server-name">TASK MANAGER</span>
            </div>
            <div class="profile-info">
                <i class='bx bx-user-circle'></i>
                <span class="name">{{ user[1] }}</span>
                <i class='bx bx-chevron-down'></i>
                <div class="profile-dropdown-menu">
                    <div class="dropdown-item" onclick="location.href='/edituser'">
                        <span class="name">РЕДАКТИРОВАТЬ</span>
                    </div>
                    <form action="/logout" method="POST">
                        <button type="submit" class="dropdown-item" style="cursor: pointer; background: none;width: 100%; text-align: left; border: none;">
                            <span class="name">ВЫЙТИ</span>
                        </button>
                    </form>
                    <div class="dropdown-item" onclick="deleteAccount()">
                        <span class="name">УДАЛИТЬ АККАУНТ</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tasks-header">
            <div class="header-with-back">
                <h1 class="text">Отредактировать задачу</h1>
                <button class="back-btn" onclick="location.href='/homepage'">
                    <i class='bx bx-arrow-back'></i>На главную
                </button>
            </div>
        </div>
        <div class="back-edit">
            <div class="categories">
                <form class="task-form" action="/edittask?task_id={{ task[1] }}" method="POST">
                    <div class="form-group">
                        <label>Название задачи</label>
                        <input type="text" name="name" value="{{ task[2] }}" placeholder="Введите название задачи" class="name">
                    </div>

                    <div class="form-group">
                        <label>Описание</label>
                        <textarea name="description" rows="3" placeholder="Введите описание задачи" class="name">{{ task[3] or '' }}</textarea>
                    </div>

                    <div class="form-group">
                        <label>Срок выполнения</label>
                        <input type="date" name="limit_time" value="{{ task[5] }}" class="name">
                    </div>

                    <div class="form-buttons">
                        <button type="submit" class="submit-btn">Сохранить изменения</button>
                        <button type="reset" class="reset-btn">Очистить</button>
                    </div>
            </form>
            </div>
        </div>
    </div>
    <script>
        function deleteAccount() {
            if (confirm('Вы уверены?')) {
                fetch('/delete_account', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    if (response.ok) {
                        window.location.href = '/';
                    }
                });
            }
        }
    </script>
</body>
{% endblock %}