{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="video-background">
    <video autoplay muted loop id="myVideo">
        <source src="/static/images/background1.mp4" type="video/mp4">
    </video>
</div>
<div class="container">
    <div class="box">
        <h1 class="idh">Добро пожаловать!</h1>
        <p class='subtitle'>ВАШ ЛИЧНЫЙ МЕНЕДЖЕР ЗАДАЧ</p>
        <div class="buttons">
            <div class="b1">
                <a href="register.html" class="button-link">
                    <p class="ip">Первый раз здесь?</p>
                    <p class="ip">Sign in</p>
                </a>
            </div>
            <div class="b2">
                <a href="login.html" class="button-link">
                    <p class="ip">Уже есть аккаунт?</p>
                    <p class="ip">Log in</p>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}