{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
<body class="firstpage">
    <div>
        <video autoplay muted loop id="myVideo">
            <source src="/static/images/background1.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container">
        <div class="form-box login">
            <form action="/homepage">
                <h1>Login</h1>
                <div class="input-box">
                    <input type="text" id="username1" name="username" placeholder="Username" required>
                    <i class="bx bxs-user"></i>
                </div>
                <div class="input-box">
                    <input type="password" id="password1" name="password" placeholder="Password" required>
                    <i class="bx bxs-lock-alt"></i>
                </div>
                <button type="submit" class="btn">Login</button>
            </form>
        </div>
        <div class="form-box register">
            <form action="/homepage">
                <h1>Registration</h1>
                <div class="input-box">
                    <input type="text" id="name" name="name" placeholder="Name" required>
                    <i class="bx bx-id-card"></i>
                </div>
                <div class="input-box">
                    <input type="text" id="username2" name="username" placeholder="Username" required>
                    <i class="bx bxs-user"></i>
                </div>
                <div class="input-box">
                    <input type="password" id="password2" name="password" placeholder="Password" required>
                    <i class="bx bxs-lock-alt"></i>
                </div>
                <button type="submit" class="btn">Register</button>
            </form>
        </div>
        <div class="toggle-box">
            <div class="toggle-panel toggle-left">
                <img src="/static/images/logo.png" class="toggle-icon">
                <h1>Welcome back!</h1>
                <p>Don't have an account?</p>
                <button class="btn register-btn">Register</button>
            </div>
            <div class="toggle-panel toggle-right">
                <img src="/static/images/logo.png" class="toggle-icon">
                <h1>Hello, welcome!</h1>
                <p>Already have an account?</p>
                <button class="btn login-btn">Login</button>
            </div>
        </div>
    </div>
    <script>
        const container = document.querySelector('.container');
        const registerBtn = document.querySelector('.register-btn');
        const loginBtn = document.querySelector('.login-btn');

        registerBtn.addEventListener('click', () => {
            container.classList.add('active');
        });
        loginBtn.addEventListener('click', () => {
            container.classList.remove('active');
        });
    </script>
</body>
{% endblock %}